@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;700&display=swap");

:root {
	--font-family: "Oswald", sans-serif;

	--fz-lvl-1: 42px;
	--fz-lvl-2: 26px;
	--fz-lvl-3: 18px;
	--fz-lvl-4: 14px;

	--fw-lvl-1: 700;
	--fw-lvl-2: 500;
	--fw-lvl-3: 400;
	--fw-lvl-4: 300;
}

@media screen and (max-width: 900px) {
	:root {
		--fz-lvl-1: 32px;
		--fz-lvl-2: 18px;
		--fz-lvl-3: 12px;
		--fz-lvl-4: 8px;
	}
}
