.wrapper {
	display: flex;
	justify-content: center;
	gap: var(--length-st-4);

	margin: var(--length-st-2);
}

.skipPages {
	align-self: end;

	font-family: var(--font-family);
	font-weight: var(--fw-lvl-2);
	font-size: var(--fz-lvl-2);
	color: var(--color-bg-accent);
}

.number {
	position: relative;
	padding: 0 var(--length-st-4);
}

.active:after,
.number:hover:after {
	position: absolute;
	content: "";
	bottom: 0px;
	left: calc(50% - 0.5 * var(--length-st-5));
	width: var(--length-st-5);
	border-bottom: var(--length-st-1) solid var(--color-border-primary);
}
